.custom-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-bottom: 3rem;
}

.custom-input__input {
    width: 16rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.custom-input__input::placeholder {
    color: var(--background-color-light-blue);
}

.custom-input__input-primary {
    background-color: var(--background-color-white);
    border: 0.0625rem solid var(--background-color-blue);
}

.custom-input__input-incorrect {
    background-color: var(--background-color-white);
    border: 0.0625rem solid var(--background-color-red);
    padding-right: 2rem;
}

.custom-input__input-disabled {
    background-color: var(--background-color-light-blue);
    border: 0.0625rem solid var(--background-color-blue);
    padding-right: 2rem;
}

.custom-input_with-icon {
    position: relative;
    width: 16rem;
}

.custom-input__button {
    position: absolute;
    right: 0;
    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
}

.custom-input__icon {
    width: 50%;
    height: 100%;
}

.custom-input__icon_x {
    stroke: var(--background-color-light-blue)
}

.custom-input__icon_disable {
    fill: var(--background-color-black)
}