.custom-button__button {
    position: relative;
    border: none;
    border-radius: 0.25rem;
    box-sizing: border-box;
    color: var(--color-white);
    background-color: var(--background-color-blue);
}

.custom-button__group_size_middle .custom-button__button_with-icon {
    width: 7rem;
    height: 2rem;
    padding-left: 2rem;
}

.custom-button__group_size_small .custom-button__button_with-icon {
    width: 5.75rem;
    height: 1.5rem;
    padding-left: 1.5rem;
}

.custom-button__group_size_middle .custom-button__button_without-icon {
    width: 5rem;
    height: 2rem;
}

.custom-button__group_size_small .custom-button__button_without-icon {
    width: 4.5rem;
    height: 1.5rem;
}

.custom-button__group_size_middle .custom-button__button_without-text {
    width: 2rem;
    height: 2rem;
}

.custom-button__group_size_small .custom-button__button_without-text {
    width: 1.5rem;
    height: 1.5rem;
}

.custom-button__icon {
    position: absolute;
    top: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.custom-button__group_size_middle .custom-button__button_with-icon .custom-button__icon {
    left: 1rem;
}

.custom-button__group_size_small .custom-button__button_with-icon .custom-button__icon {
    top: 0.25rem;
    left: 0.5rem;
}

.custom-button__group_size_middle .custom-button__button_without-text .custom-button__icon {
    left: 0.5rem;
}

.custom-button__group_size_small .custom-button__button_without-text .custom-button__icon {
    top: 0.25rem;
    left: 0.25rem;
}

.custom-button__icon_pencil {
    stroke: var(--background-color-white)
}

.custom-button__button_transparent {
    background-color: transparent;
    color: var(--color-blue);
}

.custom-button__button_transparent svg {
    stroke: var(--background-color-blue);
}

.custom-button__button_disabled {
    background-color: transparent;
    color: var(--color-black);
}

.custom-button__button_disabled svg {
    stroke: var(--background-color-black);
}