.button {
  display: flex;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.button_size_middle {
  min-width: 2rem;
  min-height: 2rem;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.button_size_small {
  min-width: 1.5rem;
  min-height: 1.5rem;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.button_without-text_middle {
  padding: 0.5rem;
}

.button_without-text_small {
  padding: 0.25rem;
}

.button_primary {
  background-color: var(--background-color-blue);
  color: var(--color-white);
}

.button_red {
  background-color: var(--background-color-red);
  color: var(--color-white);
}

.button_transparent {
  background-color: transparent;
  color: var(--color-blue);
}

.button_disabled {
  background-color: transparent;
  color: var(--color-black);
}

.button__icon {
  width: 1rem;
  height: 1rem;
}

.button__icon_stroke_white {
  stroke: var(--background-color-white);
}

.button__icon_fill_white {
  fill: var(--background-color-white);
}

.button__icon_stroke_blue {
  stroke: var(--background-color-blue);
}

.button__icon_fill_blue {
  fill: var(--background-color-blue);
}

.button__icon_stroke_light_blue {
  stroke: var(--background-color-light-blue);
}

.button__icon_fill_light_blue {
  fill: var(--background-color-light-blue);
}

.button__icon_stroke_black {
  stroke: var(--background-color-black);
}

.button__icon_fill_black {
  fill: var(--background-color-black);
}
