.gallery {
    width: 62.5rem;
    margin: 1rem auto;
    border-collapse: collapse;
}

.gallery__info {
    width: 30%;
    height: 25rem;
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 4rem 2rem;
    box-sizing: border-box;
    vertical-align: baseline;
}

.gallery__main-slide {
    width: 70%;
    height: 25rem;
    font-size: 2rem;
    background: lightslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

.gallery__slides {
    padding: 3rem 1rem;
    background: lightskyblue;
}

.slides {
    width: 100%;
    margin: 0;
    padding: 0;
}

.slides__slide {
    list-style: none;
    display: inline-block;
    width: 6.25rem;
    height: 6.25rem;
    margin-left: 2.50rem;
    background-color: lightgoldenrodyellow;
}

.slides__slide:first-child {
    margin-left: 0;
}